<% if @gossip.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>Gossip update process failed due to:</p>
      <ul>
      <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="header">
	<h1> Editer le Gossip numéro <%=@gossip.id%></h1>
</div>

<%= form_for @gossip do |f| %>
  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title'%>
    <%= f.text_field :content, class: 'form-control', placeholder: 'Content'%>
  </div>
  <div class="form-group">
	<button type="submit" class="btn btn-secondary"> Editer le potin </button>
  </div>
<% end %>
