<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
   <div class="notice"> 
   	 <%=flash[:notice] %> 
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
  </div>
<% end %>	

<% if session[:user_id] != nil %>
<h2 class="d-flex justify-content-center mt-3">Bienvenue <%= current_user.first_name %> sur le Gossip Project</h2>
<div class="text-center">
<%= link_to "Ajoute un Gossip !!", new_gossip_path, class: "btn btn-info btn-lg mt-3"%>
</div>
<%else%>

<h2 class="d-flex justify-content-center mt-3">Bienvenue sur le Gossip Project</h2>
<div class="text-center">
<%= link_to "Connecte-toi !!", new_session_path, class: "btn btn-info btn-lg mt-3"%>
</div>

<%end%>

<div class="row mt-4">
	<% @all_gossip.each_with_index do |gossip, id| %>
	  <div class="card mx-auto mb-5" style="width: 15rem;">
		<div class="card-body">
		 <h5 class="card-title"><%= gossip.user.first_name %> <%= gossip.user.last_name %></h5>
		 <p class="card-text"><%= gossip.title %></p>
		 <%= link_to "Voir le potin", gossip_path(gossip.id), :class => "btn btn-secondary"%>
		</div>
	  </div>
	<% end %>
</div>

