<% if @gossip.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>Gossip creation process failed due to:</p>
      <ul>
      <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag url_for(action: 'create'), method: "post" do %>
  <%= text_field_tag 'title', '', class: 'form-control', placeholder: 'Title'%>
  <%= text_area_tag 'content', '', class: 'form-control', placeholder: 'Content'%>
  <%= submit_tag "Créer Potins", class: "btn btn-secondary" %>
<% end %>


